* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

header{
    background-image: linear-gradient(to bottom, #2164f5e8, #134fd1e8);
    margin-top: 0px;
    height: 100px;
    font-size: 1.3em;
    padding-top: 40px;
}

h1{
    margin: 0px;
    text-align: center;
    margin-top: -10px;
}

h2{
    text-align: center;
    font-size: 1.6em;
}




/* Estilos da janela */
.window {
    width: 96%;
    height: auto;
    background-color: #131313e5;
    border-radius: 8px 8px 0px 0px;
    overflow: hidden;
    position: relative;
    margin: 20px auto;
    margin-left: 8px;
    margin-right: 10px;
    margin-bottom: 0px;
}

/* Barra de título */
.title-bar {
    height: 40px;
    background-color: #111111d8;
    border-bottom: 1px solid #bbb;
    display: flex;
    align-items: center;
    padding: 0 10px;
    position: relative;
}


.title {
    flex: 1;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

.buttons {
    display: flex;
    gap: 8px;
}

.buttons div {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.close {
    background-color: #f13930;
}

.minimize {
    background-color: #ffb411;
}

.maximize {
    background-color: #18db35;
}


/* Conteúdo da janela */
.content {
    padding: 8px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    overflow-y: auto;
    height: calc(100% - 40px); /* altura total menos a altura da barra de título */
    border-radius: 0px;
    height: auto;
    border-bottom: 1px solid #bbb;
}

.result{
    background-color: #131313e5;
    width: 96%;
    height: auto;
    margin: 10px;
    margin-top: 0px;
    margin-left: 8px;
    padding: 8px;
    border-radius: 0px 0px 8px 8px;
    color: #ffffff;
}

code{
    margin: 0px;
    color: #ffffff;
}

div > h1{
    text-align: left;
    margin: 3px;
}

#flor{
    height: 250px;
    width: 340px;
}

.explicacao, h3{
    margin: 8px;
}

h3{
    background-image: linear-gradient(to right, #ebbb16, #ffc40027);
    padding: 3px;
    border-radius: 3px;
}

.qsm{
    display: flex;
    justify-content: right;
    margin: 5px;
}

abbr > button{
    background-color: #c23a48;
    border: 0px;
    padding: 6px;
    border-radius: 5px;
}

button > a{
    text-decoration: none;
    color: #000000;
}

/*
3881e0d8
4e8cddd3
ebbb16

*/

abbr > button:hover{
    background-color: #d92d3f;
}


span{
    color: #d92d3f;
}

.links{
    color: #ec9320;
}

.text{
    color: #26e9cb;
}
